# OS
*.DS_Store

# yarn, packagers...
node_modules
.cache
*log
.parcel-cache
.vagrant
yarn.lock

# IDE
*.swp
.idea
.vscode

# BUILD
storybook-static
dist

# TESTS
.nyc_output/*
coverage/*
**/snapshots/**
