# OS
*.DS_Store

# yarn, packagers...
node_modules
.cache
*log
yarn.lock
.parcel-cache
.vagrant

# IDE
*.swp
.idea
.vscode

# BUILD
storybook-static
dist

# TESTS
cypress/match-screenshots
.nyc_output/*
coverage/*
